@import '../components/mixins';
@import '../components/span';
@import '../components/button';
@import '../components/variables';

@mixin judge {
    .judge {
        @include grid(2, 2, 1);

        margin-left: 20PX;

        button, a {
            @include button ($button, $text, $button-hover, $text);
            max-width: 300px;
            padding-top: 13px;
        }

        span, input {
            @include span;
        }    

    }
}