@import '../components/variables';
@import '../components/mixins';
@import '../components/score';

@mixin referee {
    background-color:  $referee-color;

    h1 {
        color: red;
    }
    
    h2 {
        font-size: 80px;
        color: $text;
    }
    
    h3, span {
        font-size: 30px;
    }

    .containerblue, .containerred {
        @include flex;
    }

    .points-blue, .points-red {
        @include flex;
        order: 2;
    }

    .blue2, .red2 {
        font-style: italic;
        font-weight: 100;
    }
    
    .advantages{
        color: $green;
    }

    .penalties{
        color: red;
    }
    
    .scoreblue {
        @include score($blue);
    }

    
    .scorered {
        @include score($red);
    }

    .section-timer {
        @include flex(center);
    }
}