@import '../components/variables';
@import '../components/mixins';
@import '../components/score';

@mixin referee {
    background-color:  $referee-color;

    height: 100vh;
    width: 100vw;

    h1 {
        color: red;
    }
    
    h2 {
        font-size: 5rem;
        color: $text;
    }
    
    h3, span {
        font-size: 1.875rem;
    }


    .containerblue, .containerred {
        @include flex(start);
    }

    .points-blue, .points-red {
        @include flex(start);
        order: 2;
    }

    .blue2, .red2 {
        font-style: italic;
        font-weight: 100;
    }
    
    .advantages{
        color: $green;
    }

    .penalties{
        color: red;
    }
    
    .scoreblue {
        @include score($blue);
    }

    
    .scorered {
        @include score($red);
    }

    .sectiontimer {
        @include flex(center);
    }
}