@import '../components/variables';
@import '../components/mixins';
@import './judge';
@import './referee';
* {
    color: $text;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-family: $font-family;
}

html {
    background-color: $primary-color;
}

h4 {
    font-size: x-large;
}

h1, h2, h4 {
    text-align: center;
}


a {
    max-height: 45px;
    min-height: 45px;
    text-decoration: none;
}

@include judge;

.referee {
    background-color: $referee-color;

    @include referee;
    h1, h4 {
        color: red;
        font-size: 60px;
        margin-top: -40px;
    }

    h4 {
        position: absolute;
        background-color: #000;
        z-index: 1;
        margin-left: 100px;
    }
}



.section-timer, img {
    @include flex(start);
    margin-top: 5px;
    max-height: 200px;
    min-width: 390px;
}

.timer{
    color: $text;
    width: auto;
    margin-left: 100px;
    span {
        font-weight: bolder;
        font-size: 100px;
    }
}