@import '../components/variables';
@import '../components/mixins';
@import './judge';
@import './referee';
* {
    background-color: $primary-color;
    color: $text;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-family: $font-family;
}

h4 {
    font-size: x-large;
}

h1, h2, h4 {
    text-align: center;
}

a {
    max-height: 45px;
    min-height: 45px;
    text-decoration: none;
}

@include judge;

.referee {
    @include referee;
}



.section-timer {
    @include flex(center);
}