// mixin for button

@mixin button ($colorBG, $color, $colorBG2, $color2){
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding: 5px  8px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: .25rem;
    background-color: $colorBG;
    color: $color;
    margin: 8px;
    font-weight: 500;
    padding-bottom: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    &:hover {
        background-color: $colorBG2;
        color: $color2;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.703);
    }

    // effect onclick
    &:active {
        background-color: $color;
        transform: scale(0.95);
    }

}