// mixin for displays grid/flex

@mixin grid($cols, $rows, $espace) {
    display: grid;
    grid-template-columns: repeat($cols, 1fr);
    grid-template-rows: $rows;
    gap: 1em;
    justify-content: space-between;
    grid-auto-flow: row;
}

@mixin flex($align) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: $align;
}