@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');

//  fonts
$font-family: 'Titillium Web', sans-serif;

// judge-colors
$primary-color: #363062;
$text: #F5F5F5;
$button: #FD8D14;
$button-hover: #4D4C7D;
// referee-colors
$referee-color: #040f0f;
$blue: #205295;
$red:#950101;
$green: rgb(21, 183, 21);