@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");
* {
  color: #F5F5F5;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  font-family: "Titillium Web", sans-serif;
}

html {
  background-color: #363062;
}

h4 {
  font-size: x-large;
}

h1, h2, h4 {
  text-align: center;
}

a {
  max-height: 45px;
  min-height: 45px;
  text-decoration: none;
}

.judge {
  background-color: #363062;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2;
  gap: 1em;
  justify-content: space-between;
  grid-auto-flow: row;
  margin-left: 1.875rem;
}
.judge button, .judge a {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 0.3125rem 0.5rem;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: #FD8D14;
  color: #F5F5F5;
  margin: 0.5rem;
  font-weight: 500;
  padding-bottom: 0.625rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  max-width: 18.75rem;
  padding-top: 0.8125rem;
}
.judge button:hover, .judge a:hover {
  background-color: #4D4C7D;
  color: #F5F5F5;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.703);
}
.judge button:active, .judge a:active {
  background-color: #F5F5F5;
  transform: scale(0.95);
}
.judge span, .judge input {
  font-size: 1.25rem;
  background-color: rgba(181, 180, 180, 0.463);
  padding: 0 0.5rem;
  border-radius: 0.1875rem;
  font-weight: 500;
}

.referee {
  background-color: rgba(0, 0, 0, 0.7647058824);
  background-color: rgba(0, 0, 0, 0.7647058824);
  height: 100vh;
  width: 100vw;
}
.referee h1 {
  color: red;
}
.referee h2 {
  font-size: 5rem;
  color: #F5F5F5;
}
.referee h3, .referee span {
  font-size: 1.875rem;
}
.referee .containerblue, .referee .containerred {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.referee .points-blue, .referee .points-red {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  order: 2;
}
.referee .blue2, .referee .red2 {
  font-style: italic;
  font-weight: 100;
}
.referee .advantages {
  color: rgb(21, 183, 21);
}
.referee .penalties {
  color: red;
}
.referee .scoreblue {
  background-color: #205295;
  padding: 0.3125rem 9.375rem;
  font-size: 10rem;
  font-weight: bold;
  margin-left: 0.9375rem;
}
.referee .scorered {
  background-color: #950101;
  padding: 0.3125rem 9.375rem;
  font-size: 10rem;
  font-weight: bold;
  margin-left: 0.9375rem;
}
.referee .sectiontimer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.referee h1, .referee h4 {
  color: red;
  font-size: 60px;
  margin-top: -40px;
}
.referee h4 {
  position: absolute;
  background-color: #000;
  z-index: 1;
  margin-left: 100px;
}

.section-timer, img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin-top: 5px;
  max-height: 200px;
  min-width: 390px;
}

.timer {
  color: #F5F5F5;
  width: auto;
  margin-left: 100px;
}
.timer span {
  font-weight: bolder;
  font-size: 100px;
}